{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Quai Antique{% endblock %}

{% block body %}
    <h2 class="text-center py-3 mb-3 text-capitalize text-decoration-underline display-1"> Nos plâts les plus prisés</h2>
    <div class="row text-center text-lg-start">
        {% for photo in photos %}
            {% if photo.isPublish == true %}
                <div class="photo text-center col-sm-12 col-md-6 col-lg-4">
                    <img class="img-fluid shadow-sm border rounded-3"
                         id="home-picture"
                         src="{{ asset('pictures/photos/' ~ photo.picture ) }}"
                         alt="{{ photo.title }}"
                         data-src="{{ asset('pictures/photos/' ~ photo.picture ) }}"
                         data-toggle="lightbox"
                    >
                    <p class="photo-title badge">{{ photo.title }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="text-center col">
            <a class="container-button col-6 btn btn-outline m-1 mb-3 hover" href="{{ path('app_reservation') }}" role="button">Réservez dès maintenant !</a>
        </div>
    </div>


{% endblock %}