{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Installation{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center py-3 mb-3 text-capitalize text-decoration-underline display-1">Bienvenue</h2>
                    <p>Bienvenue sur la page d'installation de l'application Quai Antique v2</p>
                    <hr>
                    <h2 class="card-title text-center py-3 mb-3 text-capitalize text-decoration-underline display-1">Informations nécessaires</h2>
                    <hr>

                    <div class="form-control">
                        {{ form_start((welcomeForm)) }}
                            <div class="row text-center">
                                <b class="col-12 m-1">{{ form_label(welcomeForm.email) }}</b>
                                <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.email) }}</div>
                            </div>
                            <div class="row text-center col m-3">
                                <b class="col-12 m-1">{{ form_label(welcomeForm.lastName) }}</b>
                                <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.lastName) }}</div>
                            </div>
                            <div class="row text-center">
                                <b class="col-12 m-1">{{ form_label(welcomeForm.password) }}</b>
                                <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.password) }}</div>
                            </div>
                            <div class="row text-center col m-3">
                                <b class="col-12 m-1">{{ form_label(welcomeForm.submit) }}</b>
                                <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.submit) }}</div>
                            </div>
                        {{ form_end(welcomeForm) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
